*~
*.lxt
*.pyc
*.vvp
*.kate-swp

.*
!.gitignore

# Kernel
*.o
*.cmd
*.mod
*.mod.c
Module.symvers
modules.order
*.ko

# Vivado
*.jou
*.log
*.str

tags

/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/create_project.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/defines.v
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/fpga.bit
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/fpga.cache/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/fpga.gen/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/fpga.hw/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/fpga.runs/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/fpga.srcs/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/fpga.xpr
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/fpga_utilization.rpt
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/fpga_utilization_hierarchical.rpt
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/generate_bit.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/rev/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/run_impl.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/run_synth.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU50_10g/update_config.tcl

/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/create_project.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/defines.v
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/fpga.bit
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/fpga.cache/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/fpga.gen/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/fpga.hw/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/fpga.runs/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/fpga.srcs/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/fpga.xpr
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/fpga_utilization.rpt
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/fpga_utilization_hierarchical.rpt
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/generate_bit.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/rev/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/run_impl.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/run_synth.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/update_config.tcl

/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/create_project.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/defines.v
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/fpga.bit
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/fpga.cache/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/fpga.gen/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/fpga.hw/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/fpga.runs/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/fpga.srcs/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/fpga.xpr
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/fpga_utilization.rpt
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/fpga_utilization_hierarchical.rpt
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/generate_bit.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/rev/
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/run_impl.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/run_synth.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/update_config.tcl

/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/fpga.mcs
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/fpga.prm
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/generate_mcs.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55C_10g/program.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/fpga.mcs
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/fpga.prm
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/generate_mcs.tcl
/fpga/mqnic/Alveo/fpga_25g/fpga_AU55N_10g/program.tcl
